USE [master]
GO
/****** Object:  Database [SearchList]    Script Date: 2/16/2022 10:11:49 PM ******/
CREATE DATABASE [SearchList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SearchList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\SearchList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SearchList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\SearchList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SearchList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SearchList]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 2/16/2022 10:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[searchID] [int] NOT NULL,
	[fileName] [nvarchar](max) NULL,
	[location] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Searches]    Script Date: 2/16/2022 10:11:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Searches](
	[searchID] [int] IDENTITY(1,1) NOT NULL,
	[fileName] [nvarchar](max) NOT NULL,
	[fileLocation] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Searches] PRIMARY KEY CLUSTERED 
(
	[searchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Results] ([searchID], [fileName], [location]) VALUES (2, N'a.txt', N'C:\Users\user\Documents\temp\foldrA\')
INSERT [dbo].[Results] ([searchID], [fileName], [location]) VALUES (2, N'a.txt', N'C:\Users\user\Documents\temp\foldrA\foldeB\folderSasson\')
GO
SET IDENTITY_INSERT [dbo].[Searches] ON 

INSERT [dbo].[Searches] ([searchID], [fileName], [fileLocation]) VALUES (1, N'a', N'dfhs')
INSERT [dbo].[Searches] ([searchID], [fileName], [fileLocation]) VALUES (2, N'a', N'C:\Users\user\Documents\temp\foldrA')
SET IDENTITY_INSERT [dbo].[Searches] OFF
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Searches] FOREIGN KEY([searchID])
REFERENCES [dbo].[Searches] ([searchID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Searches]
GO
USE [master]
GO
